body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

code {
  /* color: inherit; */
  background-color: transparent;
}

.page-header {
  margin-top: 30px;
}

.breadcrumb {
  margin-top: 20px;
}

.content h2:first-of-type {
  margin-top: 0px;
}

.half-rule {
  width: 100px;
  margin: 25px auto;
}


.fa {
  margin-right: 0.5em;
}

.checklist {
  padding: 0;
  list-style: none;
}

/* footer */

.footer {
  margin-top: 30px;
  padding-top: 16px;
  color: #777;
  border-top: 1px solid #eee;
  font-size: 90%;
  text-align: center;
}

.footer p {
  margin: 0px;
}

/* toc */

.sidebar {
  font-size: 90%;
  line-height: normal
}

.toc ul  {
  padding-left: 0;
  list-style: none;
}

.toc ul li {
  padding-top: 3px;
}

.toc ul ul {
  padding-left: 10px;
  font-size: 95%;
}

/* heading scrolling */

h2[id]:before, 
h3[id]:before{
  content: "";
  display: block;
  height: 70px;
  margin-top:-70px;
}

/* affix hacks from boostrap 3.0 docs */
.sidebar.affix {
    position: static;
}

@media (min-width: 992px) {
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  } 
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
}

@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 263px;
  } .jumbotron{background-image: url("/images/Panorama.png");background-repeat:no-repeat;background-position: center} .jumbotron h1,.jumbotron .h1{color:#FFF} .jumbotron h2,.jumbotron .h2{color:#FFF}
}

#emf-container-wrap{
}

#emf-container{
	background-color:#fafafa;
	color:#000000;
	font-size:15px;
	border-radius:5px;
}

#emf-container li label.emf-label-desc{
	color:#008cba;
	font-size:15px;
}

#emf-container li #emf-li-captcha #emf-captcha-top-settings{
	background-color:#00bff3;
	color:#ffffff;
}

#emf-container li #emf-li-captcha #emf-captcha-bottom-settings{
	background-color:transparent;
}

#emf-container li #emf-li-captcha #emf-captcha-input-settings,
#emf-container li #emf-li-captcha #emf-captcha-input-settings a{
	color:#000000;
}


#emf-container, #emf-container-outer #emf-form-shadows{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:100%;
}
@media screen and (max-width: 656px) {
	#emf-container, 
	#emf-container-outer #emf-form-shadows {
		width: 100%;
	}
}


#submit{
    border-radius:6px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

/*!
#submit:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}
*/

/* */

#bottom {
	margin-top: 30px;
	padding-top: 40px;
	background-image: url('logon_binnet.png');
	background-size: 100px 45px;
	background-repeat: no-repeat;
	background-position: top center;;
	box-sizing: padding-box;
}

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}
