body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

code {
  /* color: inherit; */
  background-color: transparent;
}

.page-header {
  margin-top: 30px;
}

.breadcrumb {
  margin-top: 20px;
}

.content h2:first-of-type {
  margin-top: 0px;
}

.half-rule {
  width: 100px;
  margin: 25px auto;
}


.fa {
  margin-right: 0.5em;
}

.checklist {
  padding: 0;
  list-style: none;
}

/* footer */

.footer {
  margin-top: 30px;
  padding-top: 16px;
  color: #777;
  border-top: 1px solid #eee;
  font-size: 90%;
  text-align: center;
}

.footer p {
  margin: 0px;
}

/* toc */

.sidebar {
  font-size: 90%;
  line-height: normal
}

.toc ul  {
  padding-left: 0;
  list-style: none;
}

.toc ul li {
  padding-top: 3px;
}

.toc ul ul {
  padding-left: 10px;
  font-size: 95%;
}

/* heading scrolling */

h2[id]:before, 
h3[id]:before{
  content: "";
  display: block;
  height: 70px;
  margin-top:-70px;
}

/* affix hacks from boostrap 3.0 docs */
.sidebar.affix {
    position: static;
}

@media (min-width: 992px) {
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  } 
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
}

@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 263px;
  } .jumbotron{background-image: url("Panorama_1.png");background-repeat:no-repeat;background-position: center} .jumbotron h1,.jumbotron .h1{color:#FFF} .jumbotron h2,.jumbotron .h2{color:#FFF}
}

.imClear {
	visibility: hidden; 
	clear: both; 
	border: 0; 
	margin: 0; 
	padding: 0; 
}

#imObjectForm_1 {
	position: relative; 
	text-align: left;
}
#imObjectForm_1 label, #imObjectForm_1 .checkbox, #imObjectForm_1 .radiobutton {
	color: #000000; 
}
#imObjectForm_1 label {
	text-align: left; 
	padding-top: 2px;
}
#imObjectForm_1 fieldset {
	margin: 0; padding: 8px 0 0 0;
}
#imObjectForm_1 fieldset.first {
	margin: 0; padding: 0;
}
#imObjectForm_1 div.legend {
	margin-bottom: 8px; 
	color: #000000; 
	border-bottom: 1px solid #A9A9A9;
}
#imObjectForm_1 input[type=text],
#imObjectForm_1 input[type=password], 
#imObjectForm_1 input[type=file], 
#imObjectForm_1 select, 
#imObjectForm_1 textarea {
	resize: none; 
	margin: 2px 0 3px; 
	color: #000000; 
	border: 1px solid #A9A9A9; 
	background-color: #FFFFFF; 
	padding-left: 3px; 
	padding-right: 3px; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px;
}
#imObjectForm_1 input[type="checkbox"], 
#imObjectForm_1 input[type="radio"] {
	border: 0; 
	background-color: transparent; 
}
#imObjectForm_1 input.imFormFocus, 
#imObjectForm_1 select.imFormFocus, 
#imObjectForm_1 textarea.imFormFocus {
	color: #000000; 
	background-color: #FFFFE0; 
}
#imObjectForm_1 input[type="checkbox"].imFormFocus, 
#imObjectForm_1 input[type="radio"].imFormFocus {
	border: 0; 
	background-color: transparent; 
}
#imObjectForm_1 input.imFormMark, 
#imObjectForm_1 textarea.imFormMark, 
#imObjectForm_1 select.imFormMark {
	border: 1px solid #FF0000; 
}
#imObjectForm_1 input[type="submit"], 
#imObjectForm_1 input[type="reset"], 
#imObjectForm_1 input[type="button"], 
#imObjectForm_1_next, 
#imObjectForm_1_prev, 
#imObjectForm_1_submit, 
#imObjectForm_1_reset {
	cursor: pointer;
	color: #000000; 
	border: 1px solid #A9A9A9; 
	background-color: #D3D3D3;
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px;
	margin-left: 0; 
}
#imObjectForm_1_prot {
	display: none; 
}
